.panel.panel-default
  .panel.panel-heading Message
  .container-fluid
    .list-group
      .p Title
      .list-group-item
        = @message.title
      %hr
      .p Body
      .list-group-item
        = @message.body
