.container
  .row.first-row
    = render 'users/partials/settings_panel'
    .col-md-8
      .panel.panel-info
        .panel-heading My projects
        %table.table.table-bordered
          %tr
            %th Project name
            %th Information
          - @projects.each do |project|
            %tr
              %td
                = project.name
                = link_to "(edit)", edit_user_project_path(current_user.id, project.id)
              %td= project.information
      =link_to 'New project', new_user_project_path(current_user.id), class: 'btn btn-default'
