.container
  .row.first-row
    = render 'users/partials/settings_panel'
    .col-md-4
      .panel.panel-info
        .panel-heading My skills
        %ul.list-group.user-skills
          - @skills.each do |skill|
            = render 'skills/partials/skill_list_item', skill: skill
      #skill
        %h3 Add new skill
        = render 'skills/partials/form'
      %br
      .alert.alert-success#success
