= simple_form_for @skill || Skill.new, url: user_skills_path(current_user), remote: true, method: :post do |f|
  = f.input :name, placeholder: 'Add your skill name here!', required: true, label: false, autocomplete: false
  = f.button :submit, 'Add'