.container
  .row.first-row
    = render 'users/partials/settings_panel'
    .col-md-8
      .panel.panel-info
        .panel-heading My announcements
        %table.table.table-bordered
          %tr
            %th Text
            %th Project
          - @announcements.each do |announcement|
            %tr
              %td
                = truncate(announcement.text, length: 25)
                = link_to '(edit)', edit_user_announcement_path(current_user.id, announcement.id)
              %td
                = link_to announcement.project.name, announcement.project
      =link_to 'New announcement', new_user_announcement_path(current_user.id), class: 'btn btn-default'
